<!-- <header> 
    <nav class="navbar navbar-dark bg-warning fixed-top">
        <div class="container-fluid">
            <div>
                <img src="../../../assets/icono/icono.png" width="40 " height="40" >
            
  
                 <a class="navbar-brand text-bg-dark" href="#">  TuCorralon</h1></a>
          <a class="navbar-brand" href="#">Ayuda</a>
          <a class="navbar-brand" href="#">Contactanos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Categorias</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ceramicos</a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Para exterior</a></li>
                    <li><a class="dropdown-item" href="#">Para Interior</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Otros</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Herramientas</a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Para Jardin</a></li>
                    <li><a class="dropdown-item" href="#">Para Construir</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Otros</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Electricidad</a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Cables</a></li>
                    <li><a class="dropdown-item" href="#">Luces</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Otros</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="¿Que herramienta buscas?" aria-label="search">
                <button class="btn btn-warning" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
      
    
</header>

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    Navbar content -->
 <!-- </nav>-->
 <div class="color">
<nav class="navbar bg-warning border-bottom border-body" data-bs-theme="light">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="#">
            <img src="../../../assets/icono/icono.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            TuCorralon
        </a>
            <a class="navbar-brand" href="productos">Producto</a> 
            <a class="navbar-brand" href="contacto">Consultas</a>
            <!-- <a class="navbar-brand" href="login">Login</a>  -->
      <form class="d-flex" role="search">
        <input class="form-control me-2 w-8"  type="search" placeholder="Buscar" aria-label="Search">
        
      </form>
    </div>
  </nav>
</div>