<div class="color">
  <nav class="navbar bg-warning border-bottom border-body" data-bs-theme="light">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img src="../../../assets/icono/icono.png" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top">
        TuCorralon
      </a>
      <a class="navbar-brand" href="producto">Productos</a>
      <a class="navbar-brand" href="contacto">Consultas</a>
      <a class="navbar-brand" href="login">Login</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2 w-8" type="search" placeholder="Buscar" aria-label="Search">

      </form>
    </div>
  </nav>
</div>