 <p>medios-pagos works!</p>
 <p>hola</p>
 
 
         <!-- ngClass para la galeria de imagnes,d-none es para q se oculte.. d.block es pr q se muestre-->
 
       <h1 class="container bg-dark text-white text-center my-4 py-4">[ngClass]={{activo}}</h1>
 <div class="container">
 <button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>
 <button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>
 <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis adipisci reprehenderit aliquam! 
 Ducimus dicta doloremque numquam earum cum? Sunt repudiandae accusantium consequatur tenetur cupiditate!
 </p>
 <p class="text-danger d-none"[ngClass]="{'d-block':activo=='segundo'}">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis adipisci reprehenderit aliquam! 
     Ducimus dicta doloremque numquam earum cum? Sunt repudiandae accusantium consequatur tenetur cupiditate!
     </p>
 </div>
 
 <!-- ngfor para mostrar una lista(Array) en este caso de imagenes, o para mostrar en el carrito de comppras-->
 <h1 class="container bg-dark text-white text-center my-4 py-4   " ></h1>
 <div class="container">
     <ul>
     <!-- el nombre de mi array es"productos" -->
         <li *ngFor="let producto of productos">{{producto}}</li>
     </ul>
 </div>
 <!-- ahora ngFor para mostrar una tabla -->
 
 <div class="container">
 <table class="table">
     <thead>
         <tr >
             <th scope="row">N</th>
             <th scope="row">Material</th>
             <th scope="row">Marca</th>
             <th scope="row">Precio</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let carrito of carritos; index as i">
             <th scope="row">{{i+1}}</th>
             <th scope="row">{{carrito.tipo}}</th>
             <th scope="row">{{carrito.marca}}</th>
             <th scope="row">{{carrito.precio}}</th>
         </tr>
     </tbody>
 
 </table>
 </div> 