<main *ngIf="false">
    <a class="btn btn-warning " href="presupuesto">Ver Carrito</a>
    <div class="d-flex justify-content-center text-center flex-wrap">
        <div *ngFor="let t of lista2" class="card mx-2 my-2 shadow rounded" style="width: 18rem;">
            <div class="card-header p-0">
                <img src="../../../assets/producto/{{t.foto}}" height="250px" class="card-img-top">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{t.nom}}</h5>
                <p class="card-text">{{t.marca}}</p>
                <p class="card-text">{{t.caracteristica}}</p>
                <p class="card-text">${{t.precio | number: '.2'}}</p>
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="btn-group">
                        <a href="#" class="btn btn-warning" (click)="verProducto(t)">Detalle</a>
                    </div>
                    <i class="bi bi-cart-check btnCarrito " title='Agregar al Carrito' (click)="agregarCarrito(t)"></i>
                </div>
            </div>

            <a href=""></a>
        </div>
    </div>
</main>