<section class="ubicacion" oneline>
    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3637.229637382351!2d-65.23556002522177!3d-24.268708487958616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b077739c761db%3A0x4dbcb07ad6517b37!2sInstituto%20de%20Educaci%C3%B3n%20Superior%20%22Nuevo%20Horizonte%22!5e0!3m2!1ses-419!2sar!4v1698799366105!5m2!1ses-419!2sar"
            width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h4>Mas informacion</h4>
            <ul>
                <i class="bi bi-geo-alt"></i>Manuel Castellano
                <i class="bi bi-clock"></i>Horario de atencion lunes a sabado de 9 a 21hs
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores est architecto reiciendis earum ipsum
                repellat unde voluptas debitis error?</p>
    
    </div>
    <div class="info">
       
        <img src="../../../assets/horario/fachada-horarios.png" alt="">
    </div>
</section>