

<div class="row">
    <!-- <div class="container input-cont col-4 justify-content-center">
        <input class="input-field form-control me-2" [(ngModel)]="productoBuscado" placeholder="ingrese nombre producto"
            aria-label="Search">
        <i (click)="buscarXNombre()" class="icon bi bi-search" type="button"></i>
    </div> -->

    <nav class="navbar w-75 mx-auto">
        <div class="container-fluid " >
          <a class="navbar-brand text-dark" ><h1>ELEGÍ TUS PRODUCTOS</h1></a>
          <form class="d-flex" role="search">
            <input class="form-control me-2 w-75px" [(ngModel)]="productoBuscado" type="search" placeholder="Ing. nombre producto" aria-label="Search" name="Buscar">
            <button class="btn btn-warning m-1" type="button" (click)="buscarXNombre()" >Buscar</button>
            <a class="btn btn-warning m-1" href="presupuesto"><i class="bi bi-cart"></i></a>
          </form>
        </div>
      </nav>
</div>



<div class="row">

    <div *ngIf="listaMateriales.length>0" class="row justify-content-center">
        <div class="col - sm-12 col-md-6 col-lg-4 col-xl-3 my-2 d-flex justify-content-end"
            *ngFor="let t of listaMateriales">
            <div class="card" style="width: 17rem;">
                <div class="card shadow rounded" ngClass="{{t.id}}">


                    <div class="card-header p-0">
                        <img src="../../../assets/producto/{{t.foto}}" height="250px" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{t.nom}}</h5>
                        <p class="card-text">{{t.marca}}</p>
                        <p class="card-text">{{t.caracteristica}}</p>
                        <p class="card-text">${{t.precio | number: '.2'}}</p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <a href="#" class="btn btn-warning" (click)="verProducto(t)">Detalle</a>
                            </div>

                            <i class="bi bi-cart-check btnCarrito " title='Agregar al Carrito'
                                (click)="agregarCarrito(t)" ></i>
                                

                        </div>
                    </div>

                    <a href=""></a>


                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div *ngIf="listaMateriales.length==0" class="alert alert-danger">
            <h1>No se encontraron productos "{{productoBuscado}}"</h1>
        </div>
    </div>


</div>