<body class=" d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">

        <div class="text-center fs-1 fw-bold">Corralon</div>
        <div class="input-group mt-4">
            <div class="input-group-text bg-success bi bi-file-person"></div>
            <input class="form-control bg-light" type="text" placeholder="correo" [(ngModel)]="user" />
        </div>
        <div class="input-group mt-4">
            <div class="input-group-text bg-success bi bi-lock"></div>
            <input class="form-control bg-light" type="password" placeholder="password" [(ngModel)]="passw" />
        </div>

        <div class="btn btn-success text-white w-100 mt-4 fw-semibold shadow-sm" (click)="validate()">
            Iniciar Sesión
        </div>

        <div class="p-3">
            <div class="border-bottom text-center" style="height: 0.9rem">
                <span class="bg-white px-3">o</span>
            </div>
        </div>

        <div class="alert alert-danger text-center" role="alert" *ngIf="error">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-exclamation-triangle-fill text-danger  " viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            Usuario/Contraseña incorrecto
        </div>
    </div>
</body>