<main>
<p>seccion Productos en venta</p>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="card shadow-sm" style="width: 18rem;">
        <img src="../../../assets/categoria/baños.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hierro</h5>
          <p class="card-text">hierros de 6, 8, 10, y 12</p>
          <div class="d-flex justify-content-between"></div>
          <div class="btn-group">
            <a href="#" class="btn btn-warning">Detalles</a>
          </div>
          
          <a href="#" class="btn btn-success">Comprar</a>
        </div>
      </div>
</div>
</div>


</main>