<!-- <section class="padded">
    <div class="container table-responsive">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody-carrito">
                <tr *ngFor="let item of listaItemsCarrito">
                    <td>{{item.producto.id}}</td>
                    <td>{{item.producto.nom}}</td>
                    <td>{{item.producto.precio| number: '.2'}}</td>
                    <td> <button>-</button>
                        {{item.cantidad}}
                        <button>+</button>
                    </td>
                    <td>{{item.producto.precio | number: '.2'}}</td>
                    <td class="btnEliminar" title='Eliminar' (click)="eliminarProducto(item.producto.id)"><i
                            class="bi bi-trash3"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" class="text-end">Total</th>
                    <th id="total-carrito" class="text-end"></th>
                </tr>
            </tfoot>

        </table>
        <button class="btn btn-danger center" (click)="vaciarCarrito()">Vaciar carrito</button>
    </div>
</section> -->

<section class="padded">
    <div class="container table-responsive">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody-carrito">
                <tr *ngFor="let item of listaItemsCarrito">
                    <td>{{item.id}}</td>
                    <td>{{item.producto.nom}}</td>
                    <td>{{item.producto.precio}}</td>
                    <td> <button>-</button>
                        {{item.cantidad}}
                        <button>+</button>
                    </td>
                    <td>{{item.producto.precio! * item.cantidad!}}</td>
                    <td class="btnEliminar" title='Eliminar' (click)="eliminarProducto(item.producto.id)"><i
                            class="bi bi-trash3"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" class="text-end">Total</th>
                    <th id="total-carrito" class="text-end"></th>
                </tr>
            </tfoot>

        </table>
        <button class="btn btn-danger center" (click)="vaciarCarrito()">Vaciar carrito</button>
    </div>
</section>